@import url('./../../modal-page.css');

.modal-page-container.artist-page-container
{
    display: grid;
    grid-template-columns: 16em calc(100% - 16em);
}

.modal-page-container.artist-page-container .artist-page-info-container
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    max-width: 16em;
}

.modal-page-container.artist-page-container .artist-cover-art
{
    position: relative;
    left: 0;
    top: 0;
    width: 16em;
    height: 16em;
    border-radius: 1em;
    overflow: hidden;
}

.artist-track
{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 2em calc(100% - 2em);
    position: relative;
    width: 100%;
    padding: 0.8em;
    margin: 0.3em;
    background-color: rgba(70, 70, 90, 0.10);
    border-radius: 0.5em;

}

.artist-track[not-found]
{
    pointer-events: none;
    opacity: 0.4;
}

.modal-page-container.artist-page-container .artist-page-albums-container
{
    box-sizing: border-box;
    bottom: 0;
    display: block;
    width: 100%;
    overflow: auto;
    flex-grow: 100;
    margin: 0.5em;
}

.artist-track .artist-track-number
{
    transform: scale(1);
    transition: all 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.artist-track:hover .artist-track-number
{
    transform: scale(0);
}

.artist-track .artist-track-play
{
    position: absolute;
    left: 0;
    transform: scale(0);
    transition: all 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    width: 1.2em;
    height: 1.2em;
}

.artist-track:hover .artist-track-play
{
    transform: scale(1);
}

.artist-track .artist-track-controls
{
    width: 0;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.artist-track:hover .artist-track-controls
{
    width: 100px;
}

.artist-track-control
{
    width: 1.2em;
    height: 1.2em;
}

.artist-albums-container-parent
{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
}

.artist-albums-container
{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.artist-albums-container .artist-album
{
    box-sizing: border-box;
    position: relative;
    margin: 0.5em;
    padding: 0.5em;
    width: 11em;
    height: 15em;
    max-height: 15em;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(70, 70, 90, 0.10);
    border-radius: 0.8em;
    transition: all 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.artist-albums-container .artist-album[data-loaded=true]
{
    cursor: pointer;
}

.artist-albums-container .artist-album:hover
{
    background-color: rgba(70, 70, 90, 0.30);
}

.artist-albums-container .artist-album .artist-album-cover
{
    position: static;
    top: 0;
    margin: 0.5em;
    margin-top: 0;
    border-radius: 1em;
    overflow: hidden;
    width: 10em;
    height: 10em;
}

.artist-singles-container
{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.artist-singles-container > *
{
    display: flex;
    flex-direction: column;
    border-radius: 0.8em;
    transition: all 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.artist-singles-container .artist-single
{
    display: flex;
    flex-direction: row;
    margin: 0.3em;
    padding: 0.3em;
    background-color: rgba(70, 70, 90, 0.10);
    transition: all 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.artist-singles-container .artist-single:hover
{
    background-color: rgba(70, 70, 90, 0.30);
}


.artist-singles-container .artist-single .artist-single-play
{
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.3em;
    transition: all 0.15s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal-page-container.artist-page-container .singles-container-parent
{
    position: absolute;
    box-sizing: border-box;
    left: 0em;
    width: calc(100%);
    padding: 0em;
    transition: all 0.6s cubic-bezier(0.76, 0.12, 0.29, 0.98);
    transform: translateY(0);
    border-radius: 2em;
    z-index: 20;
    height: 100%;
    overflow: hidden;
    backdrop-filter: blur(30px);
}

.modal-page-container.artist-page-container .singles-container-parent:hover
{
    transform: translateY(-40%);
    background-color: rgba(20, 20, 30, 0.30);
    left: -2em;
    width: calc(250% + 4em);
    padding: 2em;
    /* bottom: -0.8em; */
}

/* 
.artist-single-mini-controls
{
    width: 0;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
} */