.scrolling-container
{
    position: absolute;
    display: flex;
    flex-direction: column;

    width: 10em;
    border-radius: 1em;
    overflow: hidden;

    transform-origin: top left;
}


:root
{
    --album-move-distance: -8000px;
    --album-initial-offset-x: -100%;
    --album-initial-offset-y: 900px;
    --artist-initial-offset-x: 680%;
    --artist-initial-offset-y: 500px;
}

.scrolling-albums-container
{
    transform: translateX(var(--album-initial-offset-x)) translateY(var(--album-initial-offset-y)) rotate3d(0, 0, -1, 45deg) rotate3d(1, 1, 0, 40deg) rotate3d(0, 1, 0, 20deg);
}

.scrolling-albums-container[data-resolved=true]
{
    animation: scrolling-albums-anim 200s linear 3s 1 normal forwards;
}

.scrolling-artists-container
{
    transform: translateX(var(--artist-initial-offset-x)) translateY(var(--artist-initial-offset-y)) rotate3d(0, 0, -1, 45deg) rotate3d(1, 1, 0, 40deg) rotate3d(0, 1, 0, 20deg);
}

.scrolling-artists-container[data-resolved=true]
{
    animation: scrolling-artists-anim 200s linear 3s 1 normal forwards;
}


@keyframes scrolling-albums-anim
{
    0%
    {
        transform: translateX(var(--album-initial-offset-x)) translateY(var(--album-initial-offset-y)) rotate3d(0, 0, -1, 45deg) rotate3d(1, 1, 0, 40deg) rotate3d(0, 1, 0, 20deg);
    }

    100%
    {
        transform: translateX(calc(cos(37deg) * var(--album-move-distance) + var(--album-initial-offset-x))) translateY(calc(sin(37deg) * var(--album-move-distance) + var(--album-initial-offset-y))) rotate3d(0, 0, -1, 45deg) rotate3d(1, 1, 0, 40deg) rotate3d(0, 1, 0, 20deg);
    }
}

@keyframes scrolling-artists-anim
{
    0%
    {
        transform: translateX(var(--artist-initial-offset-x)) translateY(var(--artist-initial-offset-y)) rotate3d(0, 0, -1, 45deg) rotate3d(1, 1, 0, 40deg) rotate3d(0, 1, 0, 20deg);
    }

    100%
    {
        transform: translateX(calc(cos(37deg) * var(--album-move-distance) + var(--artist-initial-offset-x))) translateY(calc(sin(37deg) * var(--album-move-distance) + var(--artist-initial-offset-y))) rotate3d(0, 0, -1, 45deg) rotate3d(1, 1, 0, 40deg) rotate3d(0, 1, 0, 20deg);
    }
}

.landing-page-login-btn-container
{
    width: 0;
    overflow: hidden;
    animation: landing-page-login-btn-container-anim 0.6s cubic-bezier(0.165, 0.84, 0.44, 1) 1.2s 1 normal forwards;
    display: flex;
    justify-content: center;
}

@keyframes landing-page-login-btn-container-anim
{
    0%
    {
        width: 0;
    }

    100%
    {
        width: 6em;
    }
}