.card-modal
{
    --card-modal-width: 9em;

    width: var(--card-modal-width);
    height: 15em;
    background-color: rgba(67, 70, 81, 0.4);
    backdrop-filter: blur(5px);
    padding: 0em;
    margin: 1em;
    border-radius: 2em;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.card-modal:not(.card-modal[data-static-card=true])
{
    box-shadow: -1px 1px 4px 1px rgba(27, 30, 41, 0.18);
}

.card-modal[data-keyboard-navigation-enabled=true]:focus-visible:not(.card-modal[data-static-card=true]),
.card-modal[data-keyboard-navigation-enabled=true]:focus-within:not(.card-modal[data-static-card=true]),
.card-modal:hover:not(.card-modal[data-static-card=true])
{
    transform: translateY(-0.5em);
}

.card-modal .card-modal-cover-art
{
    width: 100%;
    max-height: var(--card-modal-width);
    overflow: hidden;
    object-fit: cover;
}

.card-modal .card-modal-text-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: larger;
    padding-top: 0.2em;
    text-align: center;
    text-overflow: ellipsis;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.card-modal .card-modal-add-glyph
{
    box-sizing: border-box;
    opacity: 0.1;
    transition: all 0.15s cubic-bezier(0.23, 1, 0.320, 1);
    transform-origin: 50% 50%;
    padding: 0.1rem;
}

.card-modal[data-keyboard-navigation-enabled=true]:focus-visible .card-modal-add-glyph,
.card-modal[data-keyboard-navigation-enabled=true]:focus-within .card-modal-add-glyph,
.card-modal:hover .card-modal-add-glyph
{
    opacity: 0.7;
}

.card-modal[data-keyboard-navigation-enabled=true]:focus-visible .card-modal-add-glyph:focus,
.card-modal[data-keyboard-navigation-enabled=true]:focus-within .card-modal-add-glyph:focus-visible,
.card-modal:hover .card-modal-add-glyph:hover
{
    opacity: 0.95;
}

.card-modal[data-keyboard-navigation-enabled=true]:focus-within .card-modal-delete-glyph:focus-visible,
.card-modal-delete-glyph:hover
{
    color: rgb(208, 39, 39);
}

.card-modal-controls-parent
{
    box-sizing: border-box;
    overflow: hidden;
    height: auto;
    width: 2em;
    padding: 0.2em;
}

.card-modal-controls
{
    box-sizing: border-box;
    background-color: rgba(27, 20, 31, 0.2);
    height: auto;
    width: 100%;
    padding: 0.1em;
    border-radius: 0.3em;
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.320, 1), background-color 0.15s cubic-bezier(0.23, 1, 0.320, 1), backdrop-filter 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    transform: translateY(-110%);
}

.card-modal[data-keyboard-navigation-enabled=true]:focus-visible .card-modal-controls,
.card-modal[data-keyboard-navigation-enabled=true]:focus-within .card-modal-controls,
.card-modal:hover .card-modal-controls
{
    background-color: rgba(27, 20, 31, 0.4);
    transform: translateY(0%);
}

.card-modal[data-keyboard-navigation-enabled=true] .card-modal-controls:focus-visible,
.card-modal[data-keyboard-navigation-enabled=true]:focus-within .card-modal-controls,
.card-modal:hover .card-modal-controls:hover
{
    background-color: rgba(27, 20, 31, 0.7);
    backdrop-filter: blur(1px);
}

.card-modal-item-type
{
    box-sizing: border-box;
    position: absolute;
    width: min-content;
    padding: 0.1em;
    padding-left: 0.4em;
    padding-right: 0.4em;
    background-color: rgba(10, 10, 10, 0.6);
    border-radius: 0.5em;
    text-transform: uppercase;
    right: 0.6em;
    bottom: 0.6em;
}