:not([data-no-animation=true]) > .landing-page-title
{
    animation: landing-page-title-anim 1.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s 1 normal forwards;
    transform: translateY(100%);
    opacity: 0;
}

:not([data-no-animation=true]) > .landing-page-divider
{
    animation: landing-page-divider-anim 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0.9s 1 normal forwards;
    width: 0;
}

:not([data-no-animation=true]) > .landing-page-subtitle
{
    animation: landing-page-title-anim 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0.9s 1 normal forwards;
    transform: translateY(100%);
    opacity: 0;
}

[data-no-animation=true] > .landing-page-title
{
    transform: translateY(0);
    opacity: 1;
}

[data-no-animation=true] > .landing-page-divider
{
    width: 85%;
}

[data-no-animation=true] > .landing-page-subtitle
{
    transform: translateY(0);
    opacity: 1;
}


@keyframes landing-page-title-anim
{
    0%
    {
        transform: translateY(100%);
        opacity: 0;
    }

    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes landing-page-divider-anim
{
    0%
    {
        width: 0;
    }

    100%
    {
        width: 85%;
    }
}