.landing-page-credit
{
    cursor: url('/cursors/music_heart.svg'), url('/cursors/music_heart_32px.png') 16 16, pointer;
}

:not([data-no-animation=true]) > .landing-page-title
{
    animation: landing-page-title-anim 1.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s 1 normal forwards;
    transform: translateY(100%);
    opacity: 0;
}

:not([data-no-animation=true]) > .landing-page-divider
{
    animation: landing-page-divider-anim 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0.9s 1 normal forwards;
    width: 0;
}

:not([data-no-animation=true]) > .landing-page-subtitle
{
    animation: landing-page-title-anim 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0.9s 1 normal forwards;
    transform: translateY(100%);
    opacity: 0;
}

:not([data-no-animation=true]) > .landing-page-credit
{
    animation: landing-page-credit-anim 0.55s cubic-bezier(0.075, 0.82, 0.165, 1) 1.0s 1 normal forwards;
    opacity: 0;
    transform: translateX(-20%) translateY(1em);
}

[data-no-animation=true] > .landing-page-title
{
    transform: translateY(0);
    opacity: 1;
}

[data-no-animation=true] > .landing-page-divider
{
    width: 85%;
}

[data-no-animation=true] > .landing-page-subtitle
{
    transform: translateY(0);
    opacity: 1;
}

[data-no-animation=true] > .landing-page-credit
{
    opacity: 1;
    transform: translateY(1em);
    width: 100%;
}

@keyframes landing-page-title-anim
{
    0%
    {
        transform: translateY(100%);
        opacity: 0;
    }

    100%
    {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes landing-page-divider-anim
{
    0%
    {
        width: 0;
    }

    100%
    {
        width: 85%;
    }
}

@keyframes landing-page-credit-anim
{
    0%
    {
        width: 0;
        opacity: 0;
        transform: translateX(-20%) translateY(1em);
    }

    100%
    {
        width: 100%;
        opacity: 1;
        transform: translateX(0) translateY(1em);
    }
}