/**
 * CSS for the layout of all pages under the "stream" URI forest
*/

.stream-layout {
    display: grid;
    grid-template-columns: var(--page-toolbar-width) 1.0fr;
}

.stream-layout[toolbar=Closed] {
    display: grid;
    grid-template-columns: 3em 1.0fr;
}

